.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-layout {
  display: flex;
  flex-direction: column;
  width: 45.6875rem;
  gap: 0.5rem;
  margin: 100px 0px;
}
