.button {
  width: 6.5rem;
  height: 3rem;
  color: var(--white);
  border-radius: 0.5rem;
  background-color: var(--blue);
  cursor: pointer;
  border-style: none;
  font-weight: 500;
}

.icon-button {
  display: flex;
  width: 6rem;
  height: 2rem;
  background-color: var(--white);
  color: var(--blue);
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
