.rating-button {
  background-color: var(--soft-ice);
  border: none;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.rating-button:hover {
  filter: brightness(0.95);
}